@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;color: #666;}
body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend,input{margin:0; padding:0;font: 12px 'Microsoft Yahei',Tahoma,Simsun;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;cursor: pointer;}
a:hover{color: #427FD2;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
input,a{outline:none;}

.f12,.ft12{font-size: 12px;}
.f13,.ft13{font-size: 13px;}
.f14,.ft14{font-size: 14px;}
.f16,.ft16{font-size: 16px;}
.f18,.ft18{font-size: 18px;}
.f20,.ft20{font-size: 20px;}
.f30,.ft30{font-size: 30px;}
.overflow{overflow: hidden;}
.abs{position: absolute;}
.ret,.rela{position: relative;}
.fl{float: left;}
.fr{float: right;}
.ftc{text-align: center;}
.c000{color: #000000;}
.c333{color: #333333;}
.c444{color: #444444;}
.c555{color: #555555;}
.c666{color: #666666;}
.c999{color: #999999;}
.block{display: block;}
.inlineblock{display: inline-block;}
.inline{display: inline;}
.none{display: none;}
.cwhite{color:#FFFFFF;}
.bgwhite{background: #fff;}
.pointer{cursor: pointer;}
.ct{margin: 0 auto;}
.textright{text-align: right;}
.vam{vertical-align:middle;}
.clearfix:after{content:' ';display:block;height:0;overflow:hidden;visibility:hidden;clear:both;}
.clear{clear: both;}
.bold{font-weight: bold;}
/*---------------此项目自定义公共部分------------------*/
.w-max{width: 1200px;}
.w1100{width: 1100px;}
.mt{margin-top: 10px;}
.mt5{margin-top: 5px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mb30{margin-bottom: 30px;}
.mb20{margin-bottom: 20px;}
.mb{margin-bottom: 10px;}
.border-eee{border: 1px solid rgb(238,238,238);}
.p25{padding: 25px;}
.cf40{color: #f40;}
.db{display: block;}
.lh20{line-height: 20px;}
.bgwh{background: #fff;}
.ovh{overflow: hidden;}
.pb10{padding-bottom: 10px;}
.pl10{padding-left: 10px;}
.pt10{padding-top: 10px;}
.pt5{padding-top: 5px;}
.pt10{padding-top: 10px;}
.pt20{padding-top: 20px;}
.pt30{padding-top: 30px;}
.ml15{margin-left: 15px;}
.ml5{margin-left: 5px;}
.ml{margin-left: 10px;}
.ml20{margin-left: 20px;}
.mr{margin-right: 10px;}
.mr20{margin-right: 20px;}
.mt5{margin-top: 5px;}
.mt13{margin-top: 13px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.c93c{color: #e3393c;}
.pad20{padding: 20px;}
.pad10{padding: 10px;}
.goods-font{font-size: 34px;}
.db{display: block;}
.w-min{width: 200px;}
.w-mid{width: 980px;}
.fcolor{color: #FF6000;}
.through{text-decoration: line-through;}
