.footer-wrapper {
    background: #f5f5f5;
}
.footer-wrapper img{
    display: inline-block;
}

.section {
    width: 1200px;
    margin: 0 auto;
}
/* 第五部分  -倪静楠 */
.njn-footer-content{
    background-color: #f5f5f5;
    /* width: 1366px; */
    margin: 0 auto;
}
/*njn-footer-top-------------------------------------*/
.njn-footer-top{
    /* width:1367px ; */
    height:100px ;
    border-bottom: 1px solid #e5e5e5;
}
.njn-footer-top .njn-list{
    width: 1200px;
    height: 100px;
    padding: 19px 0;
    /* background-color: blueviolet; */
    display:list-item;
    margin: 0 auto;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.njn-footer-top .njn-list li{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
    flex:auto;   
    transition: all 0.8s;
}
.njn-footer-top .njn-list li:nth-child(1){
    background: url(https://static.epetbar.com/static_web/pc/dist/images/footer/logo.png) 0 0 no-repeat;
    font-size: 18px;
    color: #444;
    font-weight: 700;
    line-height: 62px;
    text-indent:13px
}
.njn-footer-top .njn-list li:nth-child(2){
    background: url(https://static.epetbar.com/static_web/pc/dist/images/footer/logo.png) 0 0 no-repeat;
    font-size: 18px;
    color: #444;
    font-weight: 700;
    line-height: 62px;
    text-indent:13px
}
.njn-footer-top .njn-list li:nth-child(3){
    background: url(https://static.epetbar.com/static_web/pc/dist/images/footer/logo.png) 0 -242px no-repeat;
    font-size: 18px;
    color: #444;
    font-weight: 700;
    line-height: 62px;
    text-indent:13px
}
.njn-footer-top .njn-list li:nth-child(4){
    background: url(https://static.epetbar.com/static_web/pc/dist/images/footer/logo.png) 0 -82px no-repeat;
    font-size: 18px;
    color: #444;
    font-weight: 700;
    line-height: 62px;
    text-indent:13px
}
.njn-footer-top .njn-list li:nth-child(5){
    background: url(https://static.epetbar.com/static_web/pc/dist/images/footer/logo.png) 0 -322px no-repeat;
    font-size: 18px;
    color: #444;
    font-weight: 700;
    line-height: 62px;
    text-indent:13px
}
.njn-footer-top .njn-list li:nth-child(6){
    background: url(https://static.epetbar.com/static_web/pc/dist/images/footer/logo.png) 0 -402px no-repeat;
    font-size: 18px;
    color: #444;
    font-weight: 700;
    line-height: 62px;
    text-indent:13px
}
/*njn-footer-wrapper----------------------------------*/
.njn-footer-wrapper{
    /* width: 1367px; */
    /* height: 182px; */
    margin: 0 auto;
    /* background-color: yellowgreen; */
}
.njn-info{
    /* width: 1200px; */
    /* height: 132px; */
    overflow: hidden;
    margin: 0 auto;
    padding: 25px 0;
    /* background-color: brown; */
    border-bottom: 1px solid #e5e5e5;
}
.njn-phone{
    position: relative;
    float: left;
    margin: 0 auto;
}
.njn-phone .njn-number{
    display: inline-block;
    margin-left: 130px;
    /* background-color: aqua; */
}
.njn-phone .njn-number p{
    color: #666666;
}
.njn-phone .njn-number p.njn-f0{
    margin-bottom: 10px;
    font-size: 14px;
}
.njn-phone .njn-number p.njn-f1{
    margin-bottom: 15px;
    font-size: 20px;
}
.njn-phone .njn-number p.njn-f1 .njn-f2{
    font-size: 12px;
}
.njn-phone .njn-number p.njn-f2{
    margin-bottom: 10px;
    font-size: 12px;
}
.njn-big-pic{
    position: absolute;
    top: 5px;
    left: 0px;
}
.njn-gouwu {
    width:56px;
    /* height:106px ; */
    float: left;
    margin: 0 auto;
    /* background-color: chocolate; */
    margin-left: 80px;
    margin-right: 100px;
}
.njn-ft0{
    font-size: 14px;
    font-weight: 700;
    color: #666666;
    margin-bottom: 20px;
}
.njn-ft1{
    font-size: 14px;
    color: #444;
    margin-top: 5px;
}
.njn-peisong{
    float: left;
    width: 56px;
    /* height: 58px; */
    margin: 0 auto;
    /* background-color: chocolate;   */
}
.njn-fta0{
    font-size: 14px;
    color: #666666;
    margin-bottom: 20px;
}
.njn-fta1{
    font-size: 14px;
    color: #444;   
}
.njn-shopping-guide{
    width:70px;
    /* height:106px ; */
    float: left;
    /* background-color: chocolate; */
    margin-left: 40px;
    margin-right: 100px;
}
.njn-app-code{
    width:92px;
    /* height:137px ; */
    float: left;
    /* background-color: chocolate; */
    margin: -5px 36px 0 20px;
}
.njn-app-code img:hover{
    cursor: pointer;
}
.njn-ftac1{
    font-size: 12px;
    color: #000000;
    text-align: center;
}
.njn-ftac2{
    margin-top: 10px;
}
.njn-wx-code{
    width: 92px;
    /* height: 137px; */
    float: left;
    /* background-color: blueviolet; */
    margin-left:71px;
}
.njn-mouse-on{
    color: red;
    cursor: pointer;
    text-decoration: underline;
}
/*动画---------------------------------------*/
.njn-footer-top .njn-list li:hover{
    color: red;
    transform: translateY(-3px);
    cursor: pointer;
}
/* end 倪静楠 */



/* ************ footer 第六部分 周昭君 *************** */
.zzj-footer {
    margin: 10px auto;
}
.zzj-footer .brand-link {
    display: block;
    overflow: hidden;
    text-align: center;
}
.zzj-footer .brand-link a {
    text-decoration: none;
    font: 12px 'Microsoft Yahei', Tahoma, Simsun;
    color: #999;
    margin-left: 15px;
    vertical-align: middle;
}
.zzj-footer .brand-link a img {
    height: 18px;
    vertical-align: middle;
}
.zzj-center {
    width: 1200px;
    margin-top: 20px;
    text-align: center;
}
.zzj-center a {
    text-decoration: none;
}
.zzj-text {
    text-align: center;
    font: 12px 'Microsoft Yahei', Tahoma, Simsun;
    padding-top: 20px;
}
.zzj-text a {
    text-decoration: none;
    color: #444;
    font: 12px 'Microsoft Yahei', Tahoma, Simsun;
    margin-left: 5px;
}
/* ************ end footer *************** */