
/* 右边的样式 */
#box{
    width: 40px;
    background: rgb(68, 68, 68);
    position: fixed;
    overflow: hidden;
    right: 0;
    z-index: 1000;
    display: block;
}
#box div{
    width: 40px;
    height: 20%;
    left: 100%;
}
/* 第一个图像的样式 */
#box #oneDiv{
    top: 40px;
}
#box #oneDiv ul{
    background:url(../img/bar_new.png) no-repeat 1px -240px;
    width: 800px;
    height: 26px;
    top: 60px;
    position: relative;
}
#box #oneDiv ul.context{
    background: url(../img/bar_newhover.png) no-repeat 1px -240px;
    width: 40px;
    height: 26px;
    top: 60px;
    position: relative;
   background-color: rgb(100, 100, 100);
   z-index: 1000;
}
/* 第二个图像的样式 */
#box #towDiv{
    height: 150px;
}
#box #towDiv ul{
    margin-top: 15px;
    position: absolute;
}
#box #towDiv.Div{
    background-color: rgb(100, 100, 100);
}
#box #towDiv ul div{
    background:url(../img/bar_new.png) no-repeat 3px -278px;
    width: 40px;
    height: 26px;
    margin: 0px auto;
}
#box #towDiv ul p{
    top: 130px;
    text-align: center;
    margin:0 auto;
    width:20px;
    line-height:24px;
    font-size: 13px;
    color: rgb(46, 43, 43);
}
#box #towDiv ul li{
    list-style: none;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    text-align: center;
    background: rgb(166, 166, 166);
    line-height: 22px;
    margin: 0px auto;
}
#box #towDiv ul div.context{
    background: url(../img/bar_newhover.png) no-repeat 3px -278px;
    width: 40px;
    height: 26px;
    margin: 0px auto;
}
#box #towDiv ul p.context{
    top: 130px;
    text-align: center;
    margin:0 auto;
    width:20px;
    line-height:24px;
    color: white;
    font-size: 13px;

}
#box #towDiv ul li.context{
    list-style: none;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    text-align: center;
    background: white;
    line-height: 22px;
    margin: 0px auto;
}

/* 第三个div */
#box #threeDiv{
    height: 170px;
}
#box #threeDiv ul{
    margin-top: 10px;
    position: absolute;
}
#box #threeDiv.Div{
    background-color: rgb(100, 100, 100);
}
#box #threeDiv ul div{
    background:url(../img/bar_new.png) no-repeat 5px -620px;
    width: 40px;
    height: 26px;
    margin: 0px auto;
    top: 150px;
}
#box #threeDiv ul p{
    top: 130px;
    text-align: center;
    margin:0 auto;width:20px;line-height:24px;
    font-size: 13px;
    color: rgb(46, 43, 43);
}
#box #threeDiv ul div.context{
    background:url(../img/bar_newhover.png) no-repeat 5px -620px;
    width: 40px;
    height: 26px;
    margin: 0px auto;
    top: 150px;
}
#box #threeDiv ul p.context{
    top: 130px;
    text-align: center;
    margin:0 auto;width:20px;line-height:24px;
    color: white;
    font-size: 13px;
    
}
#box #threeDiv ul li{
    list-style: none;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    text-align: center;
    background: rgb(166, 166, 166);
    line-height: 22px;
    margin: 0px auto;
}
#box #threeDiv ul li.context{
    list-style: none;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    text-align: center;
    background: white;
    line-height: 22px;
    margin: 0px auto;
}

/* 5个小图标 */
#box #fourDiv ul{
    
    position: relative;
}
#box #fourDiv ul:nth-child(1){
    background:url(../img/bar_new.png) no-repeat 3px -310px;
    width: 40px;
    height: 26px;
    margin: 0px auto;
}
#box #fourDiv ul.anim:nth-child(1){
    background:url(../img/bar_newhover.png) no-repeat 3px -310px;
    width: 40px;
    height: 26px;
    margin: 0px auto;
    background-color: rgb(100, 100, 100);
}
#box ul:nth-child(2){
    background:url(../img/bar_new.png) no-repeat 3px -420px;
    width: 40px;
    height: 26px;
    margin: 0px auto;
}
#box ul.anim:nth-child(2){
    background:url(../img/bar_newhover.png) no-repeat 3px -420px;
    width: 40px;
    height: 26px;
    margin: 0px auto;
    background-color: rgb(100, 100, 100);
    
}
#box ul:nth-child(3){
    background:url(../img/bar_new.png) no-repeat 3px -725px;
    width: 40px;
    height: 26px;
    margin: 0px auto;
}
#box ul.anim:nth-child(3){
    background:url(../img/bar_newhover.png) no-repeat 3px -725px;
    width: 40px;
    height: 26px;
    margin: 0px auto;
    background-color: rgb(100, 100, 100);
}
#box ul:nth-child(4){
    background:url(../img/bar_new.png) no-repeat 3px -760px;
    width: 40px;
    height: 26px;
    margin: 0px auto;
}
#box ul.anim:nth-child(4){
    background:url(../img/bar_newhover.png) no-repeat 3px -760px;
    width: 40px;
    height: 26px;
    margin: 0px auto;
    background-color: rgb(100, 100, 100);
}
#box #fourDiv #six:nth-child(5){
    background:url(../img/bar_new.png) no-repeat 3px -525px;
    width: 40px;
    height: 26px;
    margin: 0px auto;
    opacity: 1;
}
#box #fourDiv #six.anim:nth-child(5){
    background:url(../img/bar_new.png) no-repeat 3px -525px;
    width: 40px;
    height: 26px;
    margin: 0px auto;
    background-color: rgb(100, 100, 100);
}
/* 登录边框的div */
#box #bagBox{
    border: 1px solid slategray;
    width: 200px;
    background:white;
    position: relative;
    text-align: center;
    position: fixed;
    font-size: 10px;
    line-height: 100px;
    display: none;
    z-index: 1000;
    float: right;
}
/* 购物车的div */
#box #towbagBox{
    border: 1px solid slategray;
    width: 400px;
    position: relative;
    background:white;
    text-align: center;
    position: fixed;
    font-size: 10px;
    height: 150px;
    line-height: 100px;
    display: none;
    z-index: 100;
    float: right;
}
#box #textBox{
    border: 1px solid slategray;
    width: 200px;
    position: relative;
    background:white;
    text-align: center;
    position: fixed;
    font-size: 10px;
    line-height: 100px;
    display: none;
    z-index: 1000;
    float: right;
}
#box #xBox{
    box-shadow:-3px -3px -3px rgb(185, 65, 81) ;
    background-color: rgb(249, 104, 104) ;
    width: 180px;
    height: 200px;
    text-align: center;
    border-radius: 10%;
    position: fixed;
    display: none;
    z-index: 100;
    float: right;
}
#box #weixinBox{
    background-color: white;
    width: 200px;
    height: 230px;
    text-align: center;
    display: none;
    border-radius: 10%;
    z-index: 2;
    position: fixed;
    float: right;
}
#box #weiboBox{
    border: 1px solid slategray;
    background-color: white ;
    width: 180px;
    height: 180px;
    text-align: center;
    position: fixed;
    position: relative;
    display: none;
    z-index: 2;
    float: right;
}
#box #topBox{
    background:rgb(255, 162, 0);
    text-align: center;
    margin: 0px auto;
    height: 20px;
    width: 80px;
    position: fixed;
    line-height: 20px;
    display: none;
    z-index: 2;
    float: right;
}