/* 导航 star */
.ph-headerTop{
    height: 28px;
    border-bottom: 1px solid #ddd;
    background: #f5f5f5;
   display: flex;
}
.ph{
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
.w-max{
    width: 1200px;
}
.ct{
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #444;
}
a:hover{
    color: aqua;
}
.cf60:hover{
    color:#F60
}
.header-tl{
display: flex;
line-height: 28px;
}
.header-tl li{
    padding: 0 5px;
}
.epet-index-brand{
   background: url(../img/index/epetbrand.png) no-repeat;
   background-position: 0 8px;
    display: inline-block;
    text-indent: 16px;
}
.epetbrand{
    display: inline-block;
    height: 28px;
    text-indent: 19px;
    background-position: -9px -425px;
}
.header_topri li.cart-t i {
    background-position: -291px -46px;
    width: 14px;
    height: 14px;
}
.header_topri li i, .weibo a, .rss_btn, .cartbtn, .fuwu ul li span, .paim_box, .hot_name i, .footer p a, .lis_plbox, .close, .epetbrand, .close-code, .zt-list1-1 li a:hover, .zt-list1-1 li.this a, .phonecode, .saving {
    background-image: url(../img/index/bg.png);
    background-repeat: no-repeat;
}
.cred{
    color: red;
}
.header_topri{
    padding-top: 1px;
    display: flex;
    line-height: 27px;
   padding-left: 100px;
}
.header_topri li{
    /* display: inline; */ 
    padding: 0 5px;
    position: relative;
    z-index: 120;
    border: 1px solid #F5F5F5;
    border-bottom: 0;
}

.hearder{
    /* padding-top: 33px; */
    height: 100px;
}
.rel{
    display: flex;
    justify-content: space-between;
}
.lo{
    display: inline-block;
    width: 268px;
    height: 94px;
    background: url(../img/index/epet-logo.png) no-repeat 0 -12px;
    margin-top: 7px;    
}
.search{
    margin: 23px 0 0 33px;
}
.search-form{
    width: 498px;
    height: 34px;
    display: inline-block;
}
.search input{
    border: #459d36 solid 2px;
    background: 0 0;
    padding: 0 5px 0 15px;
    width: 382px;
    height: 30px;
    outline: 0;
    line-height: 30px;
    font-size: 14px;
    float: left;
    box-sizing: inherit;
}
.search button{
    border: 0;
    width: 73px;
    height: 34px;
    vertical-align: top;
    cursor: pointer;
    background-color: #459d36;
    color: #FFF;
    font-size: 14px;
}

.keywords{
    margin: 10px 0;
    width: 498px;
    height: 17px;
    overflow: hidden;
}
.keywords a.cred {
    color: red;
}
.keywords span {
    color: #999;
    margin: 0 10px;
}
.keywords a:hover {
    color: #444;
}
.keywords a, .keywords span, .keywords label {
    display: inline;
    white-space: nowrap;
    color: #999;
}

.go-buy {
    margin: 23px 0 0;
    width: 130px;
    height: 39px;
    text-align: center;
    text-indent: 2em;
    background: url(../img/index/shopping-cart.gif) no-repeat;
}
.go-buy a {
    line-height: 39px;
}
.c666 {
    color: #666;
}
/* 导航 end */

/* 中心内容区域 star */



/* 中心内容区域 end  */
/* * {
    padding: 0;
    margin: 0;
}
body {
    min-width: 1200px;
    background-color: #f5f5f5;
} */
.section {
    width: 1200px;
    margin: 0 auto;
}
/* 第五部分  -倪静楠 */
.njn-footer-content{
    background-color: #f5f5f5;
    /* width: 1366px; */
    margin: 0 auto;
}
/*njn-footer-top-------------------------------------*/
.njn-footer-top{
    /* width:1367px ; */
    height:100px ;
    border-bottom: 1px solid #e5e5e5;
}
.njn-footer-top .njn-list{
    width: 1200px;
    height: 100px;
    padding: 19px 0;
    /* background-color: blueviolet; */
    display:list-item;
    margin: 0 auto;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.njn-footer-top .njn-list li{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
    flex:auto;   
    transition: all 0.8s;
}
.njn-footer-top .njn-list li:nth-child(1){
    background: url(https://static.epetbar.com/static_web/pc/dist/images/footer/logo.png) 0 0 no-repeat;
    font-size: 18px;
    color: #444;
    font-weight: 700;
    line-height: 62px;
    text-indent:13px
}
.njn-footer-top .njn-list li:nth-child(2){
    background: url(https://static.epetbar.com/static_web/pc/dist/images/footer/logo.png) 0 0 no-repeat;
    font-size: 18px;
    color: #444;
    font-weight: 700;
    line-height: 62px;
    text-indent:13px
}
.njn-footer-top .njn-list li:nth-child(3){
    background: url(https://static.epetbar.com/static_web/pc/dist/images/footer/logo.png) 0 -242px no-repeat;
    font-size: 18px;
    color: #444;
    font-weight: 700;
    line-height: 62px;
    text-indent:13px
}
.njn-footer-top .njn-list li:nth-child(4){
    background: url(https://static.epetbar.com/static_web/pc/dist/images/footer/logo.png) 0 -82px no-repeat;
    font-size: 18px;
    color: #444;
    font-weight: 700;
    line-height: 62px;
    text-indent:13px
}
.njn-footer-top .njn-list li:nth-child(5){
    background: url(https://static.epetbar.com/static_web/pc/dist/images/footer/logo.png) 0 -322px no-repeat;
    font-size: 18px;
    color: #444;
    font-weight: 700;
    line-height: 62px;
    text-indent:13px
}
.njn-footer-top .njn-list li:nth-child(6){
    background: url(https://static.epetbar.com/static_web/pc/dist/images/footer/logo.png) 0 -402px no-repeat;
    font-size: 18px;
    color: #444;
    font-weight: 700;
    line-height: 62px;
    text-indent:13px
}
/*njn-footer-wrapper----------------------------------*/
.njn-footer-wrapper{
    /* width: 1367px; */
    height: 182px;
    margin: 0 auto;
    /* background-color: yellowgreen; */
}
.njn-info{
    /* width: 1200px; */
    height: 132px;
    margin: 0 auto;
    padding: 25px 0;
    /* background-color: brown; */
    border-bottom: 1px solid #e5e5e5;
}
.njn-phone{
    position: relative;
    float: left;
    margin: 0 auto;
}
.njn-phone .njn-number{
    display: inline-block;
    margin-left: 130px;
    /* background-color: aqua; */
}
.njn-phone .njn-number p{
    color: #666666;
}
.njn-phone .njn-number p.njn-f0{
    margin-bottom: 10px;
    font-size: 14px;
}
.njn-phone .njn-number p.njn-f1{
    margin-bottom: 15px;
    font-size: 20px;
}
.njn-phone .njn-number p.njn-f1 .njn-f2{
    font-size: 12px;
}
.njn-phone .njn-number p.njn-f2{
    margin-bottom: 10px;
    font-size: 12px;
}
.njn-big-pic{
    position: absolute;
    top: 5px;
    left: 0px;
}
.njn-gouwu {
    width:56px;
    height:106px ;
    float: left;
    margin: 0 auto;
    /* background-color: chocolate; */
    margin-left: 80px;
    margin-right: 100px;
}
.njn-ft0{
    font-size: 14px;
    font-weight: 700;
    color: #666666;
    margin-bottom: 20px;
}
.njn-ft1{
    font-size: 14px;
    color: #444;
    margin-top: 5px;
}
.njn-peisong{
    float: left;
    width: 56px;
    height: 58px;
    margin: 0 auto;
    /* background-color: chocolate;   */
}
.njn-fta0{
    font-size: 14px;
    color: #666666;
    margin-bottom: 20px;
}
.njn-fta1{
    font-size: 14px;
    color: #444;   
}
.njn-shopping-guide{
    width:70px;
    height:106px ;
    float: left;
    /* background-color: chocolate; */
    margin-left: 40px;
    margin-right: 100px;
}
.njn-app-code{
    width:92px;
    height:137px ;
    float: left;
    /* background-color: chocolate; */
    margin: -5px 36px 0 20px;
}
.njn-app-code img:hover{
    cursor: pointer;
}
.njn-ftac1{
    font-size: 12px;
    color: #000000;
    text-align: center;
}
.njn-ftac2{
    margin-top: 10px;
}
.njn-wx-code{
    width: 92px;
    height: 137px;
    float: left;
    /* background-color: blueviolet; */
    margin-left:71px;
}
.njn-mouse-on{
    color: red;
    cursor: pointer;
    text-decoration: underline;
}
/*动画---------------------------------------*/
.njn-footer-top .njn-list li:hover{
    color: red;
    transform: translateY(-3px);
    cursor: pointer;
}
/* end 倪静楠 */



/* ************ footer 第六部分 周昭君 *************** */
.zzj-footer {
    margin: 10px auto;
}
.zzj-footer .brand-link {
    display: block;
    overflow: hidden;
    text-align: center;
}
.zzj-footer .brand-link a {
    text-decoration: none;
    font: 12px 'Microsoft Yahei', Tahoma, Simsun;
    color: #999;
    margin-left: 15px;
    vertical-align: middle;
}
.zzj-footer .brand-link a img {
    height: 18px;
    vertical-align: middle;
}
.zzj-center {
    width: 1200px;
    margin-top: 20px;
    text-align: center;
}
.zzj-center a {
    text-decoration: none;
}
.zzj-text {
    text-align: center;
    font: 12px 'Microsoft Yahei', Tahoma, Simsun;
    padding-top: 20px;
}
.zzj-text a {
    text-decoration: none;
    color: #444;
    font: 12px 'Microsoft Yahei', Tahoma, Simsun;
    margin-left: 5px;
}
/* ************ end footer *************** */