/* 整个固定子屏幕最右侧 */
#rightFixed{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    width: 35px;
    height: 100%;
    background: #444;
}
#rightFixed ul#rightUl{
    margin-top: 30px;
    padding-top: 40px;
}
#rightFixed ul#rightUl li{
    position: relative;
}
#rightFixed ul#rightUl li a{
    display: inline-block;
    color: #a6a6a6;
}
#rightFixed ul#rightUl li a .rightText{
    width: 19px;
    margin: 0 auto;
    text-align: center;
}
#rightFixed ul#rightUl li a .rightText span{
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    background-color: #a6a6a6;
    color: #444;
}
#rightFixed ul#rightUl li.fixed01{
    margin-bottom: 10px;
}
#rightFixed ul#rightUl li.fixed02 , li.fixed03,li.fixed04{
    margin-top:  20px;
}
#rightFixed ul#rightUl li .rightA{
    padding: 5px 0 10px;
    box-sizing: border-box;
}
#rightFixed ul#rightUl li.fixed01 div.rightHover,li.fixed02 div.rightHover,li.fixed04 div.rightHover,li.fixed05 div.rightHover{
    position: absolute;
    right: 35px;
    top: 0;
    padding: 70px 130px;
    white-space: nowrap;
    border: 1px solid #ccc;
    background: #fff;

    display: none;
}
#rightFixed ul#rightUl li div.rightHover a{
    color: red;
}
#rightFixed ul#rightUl li .rightClick{
    display: block;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background: url(../img/bar_new.png);
    background-position: 0 -235px;
}
/* 给每个区域分别设置背景图 */
#rightFixed ul#rightUl li.fixed02 .rightClick{
    background-position: 0 -270px;
}
#rightFixed ul#rightUl li.fixed03 .rightClick{
    background-position: 2px -617px;
}
#rightFixed ul#rightUl li.fixed04 .rightClick{
    background-position: 0 -305px;
}
#rightFixed ul#rightUl li.fixed05 .rightClick{
    background-position: -1px -693px;
}
#rightFixed ul#rightUl li.fixed06 .rightClick{
    background-position: 0 -410px;
}
#rightFixed ul#rightUl li.fixed07 .rightClick{
    background-position: 0 -720px;
}
#rightFixed ul#rightUl li.fixed08 .rightClick{
    background-position: 0 -753px;
}
#rightFixed ul#rightUl li.fixed09 .rightClick{
    background-position: 0 -521px;
}
#rightFixed ul#rightUl li:hover  .rightClick{
    background-image: url(../img/bar_newhover.png);
}
#rightFixed ul#rightUl li:hover .rightA{
    background-color: #555;
}
#rightFixed ul#rightUl li#clickToTop:hover .rightA{
    background-color: #444;
}
#rightFixed ul#rightUl li:hover .rightText{
    color: #fff;
}
#rightFixed ul#rightUl li:hover .rightText span{
    background: #fff;
}
#rightFixed ul#rightUl li:hover > div.rightHover{
    display: block;
}

/* hover of down three */
#rightFixed ul#rightUl li.fixed06 .rightHover{
    position: absolute;
    bottom: -15px;
    right: 28.5px;
    display: none;
    white-space: nowrap;
}
#rightFixed ul#rightUl li.fixed07 .rightHover,li.fixed08 div.rightHover,li.fixed09 div.rightHover{
    position: absolute;
    bottom: -15px;
    right: 35px;
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
    white-space: nowrap;
    background: #fff;
}
/* totop area */
#clickToTop div.rightHover::after{
    content: '';
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: #ffa200;
    position: absolute;
    right: -10px;
    top: 50%;
    margin-top: -5px;
}
