* {
    padding: 0;
    margin: 0;
}



/* ************ footer  *************** */
.zzj-footer {
    width: 1200px;
    margin: 10px auto;


}

.zzj-footer .brand-link {
    display: block;

    overflow: hidden;
    text-align: center;


}

.zzj-footer .brand-link a {
    text-decoration: none;
    font: 12px 'Microsoft Yahei', Tahoma, Simsun;
    color: #999;
    margin-left: 15px;

    vertical-align: middle;

}

.zzj-footer .brand-link a img {
    height: 18px;

    vertical-align: middle;
}

.zzj-center {
    width: 1200px;

    margin-top: 20px;
    text-align: center;
}

.zzj-center a {
    text-decoration: none;
}

.zzj-text {
    text-align: center;
    font: 12px 'Microsoft Yahei', Tahoma, Simsun;
    padding-top: 20px;
}

.zzj-text a {
    text-decoration: none;
    color: #444;
    font: 12px 'Microsoft Yahei', Tahoma, Simsun;

    margin-left: 5px;
}
/* ************ end footer *************** */